<div class="relative overflow-hidden ">
  <div
    class="flex gap-6 pb-8 overflow-x-auto scroll-smooth hide-scrollbar"
    (scroll)="onScroll($event)"
    #scrollContainer
  >
    @for(card of dataLoad; track $index) {
    <app-card
      [imgSrc]="card.imgSrc"
      [title]="card.title"
      [description]="card.description"
      [iconName]="card.iconName"
      [link]="card.link"
    ></app-card>
    }
  </div>
  @if(hasScroll){
  <div class="absolute z-50 bottom-0 left-0 h-3 bg-gray-200 rounded-full w-full bg-gray-light">
    <div
      class="bg-beige h-full rounded-full"
      [style]="{ width: scrollProgress + '%' }"
    ></div>
  </div>
}
</div>
