<div class="relative w-full h-40">
  <img
    class="w-full h-full object-cover"
    alt="home"
    src="assets/images/backgrounds/background-primary.jpeg"
  />
  <img
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-5/6"
    alt="logo-white"
    src="assets/images/logo/fullWhiteLogo.png"
  />
</div>
<div class="flex flex-col items-center justify-center">
  <h2 class="mx-9 title md:mx-20">
    Descubre un espacio creado para inspirar tu bienestar integral nutriendo
    CUERPO, MENTE Y ESPRÍRITU
  </h2>
  <img
    src="assets/images/logo/starSeparator.png"
    alt="star-separator"
    class="max-w-80 w-1/2"
  />
  <h3 class="subtitle mx-4 md:mx-16">
    Nuestro objetivo es guiarte en un viaje hacia el equilibrio, la calma y la
    conexión con tu ser
  </h3>
</div>
