/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* En tu archivo styles.css */
/* En tu styles.css */
:root {
  --white: #FFFFFF;
  --calm-white: #FEFDF9;
  --cream: #FBF3EA;
  --beige-light: #F4EDDE;
  --beige: #D2B29C;
  --brown-light: #B58166;
  --brown-dark: #6D3A21;
  --gray-light: #E5E5E5;
  --gray: #B3B3B3;
  --gray-dark: #4F4F4F;
}

@layer utilities {
    .title {
      font-size: 18px; 
      text-align: center; 
      font-family: 'Cormorant', serif;
      padding: 10px 0 10px 0;
    }
    .subtitle{
        font-size: 16px; 
        text-align: center; 
        font-family: 'Cormorant', serif;
        padding: 10px 0 10px 0;
    }
    .text-content{
        font-size: 12px; 
        text-align: justify; 
        font-family: 'montserrat', sans-serif;
    }
  }
  @media (min-width: 768px) { /* Desde el tamaño 'md' en Tailwind */
    .title {
      font-size: 24px; /* Tamaño más grande para tabletas */
    }
    .subtitle{
        font-size: 20px;
    }
    .text-content{
        font-size: 14px; 
    }
  }
  @media (min-width: 1024px) { /* Desde el tamaño 'md' en Tailwind */
    .title {
      font-size: 28px; /* Tamaño más grande para tabletas */
    }
    .subtitle{
        font-size: 24px;
    }
    .text-content{
        font-size: 16px; 
    }
  }

  body{
    color:rgb(19, 18, 18);
    background-color: #FEFDF9;
  }
  html {
    scroll-behavior: smooth;
  }
  