 <section class="relative bg-white text-brown-900 overflow-hidden">
      
      <div class="text-left px-4 lg:px-10 text-brown-800 po-pt-4">
        <div class="animate-pulse space-y-4 py-4">
          <div class="h-5 bg-slate-200  rounded w-full"></div>
          <div class="h-5 bg-slate-200  rounded w-full"></div>
          <div class="h-5 bg-slate-200  rounded w-full"></div>
          <div class="h-5 bg-slate-200  rounded w-full"></div>
          <div class="h-5 bg-slate-200  rounded w-full"></div>
          <div class="h-5 bg-slate-200  rounded w-full"></div>
        </div>
      </div>
      
      
      <span class="sr-only">Cargando...</span>
    </section>
